ul {
  display:grid;
  grid-template-columns: repeat(var(--columns),1fr);
  margin: 150px -40px;
  list-style-type: none;
}

.product {
  grid-column-end: span 2;
  justify-self: center;
  width: 71%;
  padding-bottom: 71%;
  transform: rotatez(45deg);
  margin-top: -21%;
  background-color: #EEBC1F;
}

.product .product-detail {
  position: absolute;
  width: 65%;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%) rotatez(-45deg);
  box-shadow: 5px -5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  background: rgba(248, 248, 246, 0.144);
  transition-property: transform;
  transition-duration: .3s;
  font-size: 12px;
}

.product .product-available:hover {
  transform: translateX(-60%) translateY(-60%) rotatez(-45deg);
}

.product-soldout {
  margin: 0px;
  background-color: red;
}

.product::before, .product::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
}

.soldout {
  width: 50%;
}

.soldout-message {
  padding: 10px;
}

.product::before {
  z-index: -10;
  clip-path: polygon(0 0, 100% 0, 100% 20%, 20% 20%, 20% 100%, 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 20%, 20% 20%, 20% 100%, 0 100%);
}

.product::after {
  z-index: 10;
  clip-path: polygon(80% 20%, 100% 0, 100% 100%, 0% 100%, 20% 80%, 80% 80%);
  -webkit-clip-path: polygon(80% 20%, 100% 0, 100% 100%, 0% 100%, 20% 80%, 80% 80%);
}

.product:nth-child(2n) {
  grid-column-start:2;
}

.product::before {
  background-color: #068D7E;
  background: conic-gradient(#EEBC1F 25%, #068D7E 0 50%, #EEBC1F 0) 100% 100% /180% 180%;
}
.product::after {
  background-color: #068D7E;
  background: conic-gradient(#EEBC1F 75%, #068D7E 0) 0 0 /180% 180%;
}

.product:nth-child(2n) {
  background-color: #FF5291;
}

.product:nth-child(2n)::before {
  background-color: #4062BB;
  background: conic-gradient(rgb(168, 68, 105) 25%, #4062BB 0 50%, #FF5291 0) 100% 100% /180% 180%;
}

.product:nth-child(2n)::after {
  background-color: #4062BB;
  background: conic-gradient(#FF5291 75%, #4062BB 0) 0 0 /180% 180%;
}

.product:nth-child(5n) {
  background-color: #068D7E;
}

.product:nth-child(5n)::before {
  background-color: #FF5291;
  background: conic-gradient(#068D7E 25%, #FF5291 0 50%, #068D7E 0) 100% 100% /180% 180%;
}

.product:nth-child(5n)::after {
  background-color: #FF5291;
  background: conic-gradient(#068D7E 75%, #FF5291 0) 0 0 /180% 180%;
}

.product:nth-child(7n),.product:nth-child(7n-4) {
  background-color: #4062BB;
}

.product:nth-child(7n)::before,.product:nth-child(7n-4)::before {
  background-color: #F8FFE5;
  background: conic-gradient(#4062BB 25%, #F8FFE5 0 50%, #4062BB 0) 100% 100% /180% 180%;
}

.product:nth-child(7n)::after,.product:nth-child(7n-4)::after {
  background-color: #F8FFE5;
  background: conic-gradient(#4062BB 75%, #F8FFE5 0) 0 0 /180% 180%;
}

.product:nth-child(9n),.product:nth-child(9n-5) {
  background-color: #F8FFE5;
}

.product:nth-child(9n)::before,.product:nth-child(9n-5)::before {
  background-color: #068D7E;
  background: conic-gradient(#F8FFE5 25%, #068D7E 0 50%, #F8FFE5 0) 100% 100% /180% 180%;
}

.product:nth-child(9n)::after,.product:nth-child(9n-5)::after {
  background-color: #068D7E;
  background: conic-gradient(#F8FFE5 75%, #068D7E 0) 0 0 /180% 180%;
}

/* media queries */
@media (min-width:450px){
  ul{
    margin: 150px 40px;
  }
}

@media (min-width:600px){
  :root {
    --columns: 5;
  }
  .product:nth-child(2n){
    grid-column-start:auto;
  }
  .product:nth-child(4n-1){
    grid-column-start:2;
  }
}

@media (min-width:900px){
  :root {
    --columns: 7;
  }
  .product:nth-child(4n-1){
    grid-column-start:auto;
  }
  .product:nth-child(6n-2){
    grid-column-start:2;
  }
}

@media (min-width:1200px){
  :root {
    --columns: 9;
  }
  .product:nth-child(6n-2){
    grid-column-start:auto;
  }
  .product:nth-child(8n-3){
    grid-column-start:2;
  }
}

@media (min-width:1500px){
  :root {
    --columns: 11;
  }
  .product:nth-child(8n-3){
    grid-column-start:auto;
  }
  .product:nth-child(10n-4){
    grid-column-start:2;
  }
}

@media (min-width:1800px){
  :root {
    --columns: 13;
  }
  .product:nth-child(10n-4){
    grid-column-start:auto;
  }
  .product:nth-child(12n-5){
    grid-column-start:2;
  }

}
@media (min-width:2100px){
  :root {
    --columns: 15;
  }
  .product:nth-child(12n-5){
    grid-column-start:auto;
  }
  .product:nth-child(14n-6){
    grid-column-start:2;
  }
}